#button1 {
    color: #FFFFFF;
    background-color: #FF5733;
}

#button2 {
    color: #000000;
    background-color: #33FF57;
}

#button3 {
    color: #FFFFFF;
    background-color: #3357FF;
}

#button4 {
    color: #000000;
    background-color: #F0FF33;
}

#button5 {
    color: #FFFFFF;
    background-color: #FF33A6;
}
