@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

#myParagraph {
    font-size: 18px;
    color: black;
}

#myParagraph:hover {
    font-family: 'Roboto', sans-serif;
}
