ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin: 5px 0;
}
li:first-child, li:last-child {
    list-style-type: georgian;
    list-style-position: inside;
}
li:nth-child(odd):not(:first-child):not(:last-child) {
    list-style-type: lower-roman;
    list-style-position: outside;
}
li:nth-child(even) {
    list-style-type: lower-greek;
    list-style-position: inside;
}
