.box {
    width: 500px;
    height: 500px;
    background-color: green;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.box:hover {
    transform: scale(2) rotate(45deg);
}

.box:active {
    transform: translate(-50px, -100px);
}
