.div-block {
    width: 150px;
    height: 150px;
    margin: 10px;
  }
  
  .div1 {
    background-color: #FF5733;
  }
  
  .div2 {
    background-color: #33FF57;
  }
  
  .div3 {
    background-color: #3357FF;
  }
  
  .div4 {
    background-color: #FF33A6;
  }
  
  .div5 {
    background-color: #FF8C00;
  }
  
  .div6 {
    background-color: #800080;
  }
  
  .div7 {
    background-color: #00FFFF;
  }
  
  .div8 {
    background-color: #FFD700;
  }
  
  .div9 {
    background-color: #4B0082;
  }
  
  .div10 {
    background-color: #A52A2A;
  }
  