body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a2c48;
    font-family: Arial, sans-serif;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    background-color: #0a2c48;
    padding: 10px;
  }
  
  .item1 {
    background-color: #66cc44;
    grid-column: span 3;
    border-radius: 12px;
  }
  
  .item2 {
    background-color: #9444cc;
    grid-row: span 2;
    grid-column: span 2;
    border-radius: 12px;
  }
  
  .item3 {
    background-color: #335522;
    border-radius: 12px;
  }
  
  .item4 {
    background-color: #666666;
    border-radius: 12px;
  }
  